    /* COLORES */

$gris: #6c757d;

$botonseguir: #EF6461;
$botonseguir-hover: #c82333;

$botonmensaje: #92DCE5;
$botonmensaje-hover: #138496;

/* FUENTES */

$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;