body{
    display: grid;
    grid-template-rows: repeat(4, auto);
}

.contenedor{
    padding-left: 20px;
    padding-right: 20px; 
    } 

@media (min-width: 768px) { 
.contenedor{
padding-left: 40px;
padding-right: 40px; 
} 
}

@media (min-width: 992px) { 
.contenedor{
padding-left: 60px;
padding-right: 60px; 
} 
}

@media (min-width: 1200px) { 
.contenedor{
padding-left: 80px;
padding-right: 80px; 
}
}

@media (min-width: 1400px) { 
.contenedor{
padding-left: 100px;
padding-right: 100px;
}
}