.logo{
    text-transform: uppercase;
}

    .iconos{
        ul{
            list-style: none;
            margin-bottom: 0;
            li{
                margin-right: 30px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }