    .barraNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__iconos{
            display: flex;
            list-style: none;
        }
    }

    @media only screen and (min-width: 920px) {
        .fa-bars {
          display: none;
        }
      }
      
      @media only screen and (max-width: 920px) {
        .fa-search, .fa-video, .fa-plus, .fa-bell{
          display: none;;
        }
      }