.perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .info{
        display: flex;
        align-items: center;
        & img{
            border-radius: 50%;
            width: 4.375rem;
            height: 4.375rem;
        }
        &__texto{
            display: inline-block;
            margin-left: 15px;
            & h2{
                display: inline-block;
                text-transform: capitalize;
            }
            & p{
                margin-left: 5px;
                color: $gris;
            }
        }
    }

      
      @media only screen and (max-width: 576px) {
        .botones{
          display: none;
        }
        .perfil{
            justify-content: center;
        }
        hr{
            display: none;
        }
      }